.metronome-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.metronomeBase {
  background-image: url("../../public/metronomeBase.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 5rem auto;
  width: 643px;
  height: 963px;
}

.beater,
.beater-fixed {
  height: 925px;
  width: 80px;
  background-image: url("../../public/beater.png");
  background-repeat: no-repeat;
  filter: sepia(0.5);
  position: absolute;
  bottom: 1rem;
  left: 50%;
  margin-left: -40px;
  transform-origin: center 887.5px;
}

.beater-fixed {
  background-image: none;

  box-shadow: 5px 5px 100px 10px rgba(0, 0, 0, 0.2);
}

.sliderContainer {
  margin-top: 45%;
  width: 100%;
  height: 82%;
  position: relative;
}

.slider {
  margin-left: -2px;
  height: 30px;
  width: 80px;
  text-align: center;
  border-radius: 25%;
  font-size: 1.1rem;
  position: absolute;
  user-select: none;
}

.slider:hover {
  cursor: pointer;
}

.slider:active {
  cursor: grabbing;
  scale: 1.1;
}

/* add small up/down arrows above/below slider using before/after pseudo selector */
.slider:before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

.slider:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid black;
}

.startStop {
  position: absolute;
}
